* {
    outline: none;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.alerta{
    background-color: lightgreen;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
}
.alerta img{
    width: 30px;
    margin-right: 20px;    
}
.alerta img:last-child{

}
.alerta div{
    display: flex;
}
.titulo{
    text-align: center;
    font-weight: 300;
    
}
.formulario{
    border: 1.5px solid grey;
    width: 30%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
 

}
.formulario div{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    
}
.formulario input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid grey;
    
}

.formulario input[type=radio]{
    width: 20px;

}
.formulario label{
    width: 20%;
}
.formulario select{
    width: 100%;
    background-color: white;
    border: 1px solid gray;
    height: 30px;

}
.formulario fieldset {
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 10px;

}
.formulario legend{
    text-align: center;
}
.btn-salvar{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    
}
.botoes{
    margin-top: 40px;
    justify-content: flex-end;
}